sample-app@0.1.0 /Users/asheru/Desktop/sampleApp/sample-app
├── @testing-library/jest-dom@5.16.4
├── @testing-library/react@13.3.0
├── @testing-library/user-event@13.5.0
├── axios@0.27.2
├── bootstrap@4.6.1
├── eslint-plugin-react-hooks@4.6.0
├── react-dom@18.2.0
├── react-scripts@5.0.1
├── react@18.2.0
└── web-vitals@2.1.4

