/*
*           group page containing all Control APIs
*/

.group_name {
  height: 10%;
  margin-top: 5%;
  box-sizing: border-box;
  display: block;
  color: #000000;
  position: relative;
}

.back_button_Wrapper {
  position: absolute;
  top: -4px;
  left: 10px;
  z-index: 100;
}


.group_box {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  box-sizing: border-box;
  display: block;
  color: #000000;
  background-color: black;
}

.group_box p {
  top: 5%;
  text-align: center;
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  color: white;
  font-size: large;
}

.player {
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

.track_details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
}

.track_name {
  font-size: 2rem;
}

.album_name {
  font-size: 1rem;
}

.track_image {
  margin: 25px;
  height: 250px;
  width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}

.group_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 120px;
}

.playpause_track, 
.group_prev,
.group_next {
  padding: 15px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.group_prev_disabled,
.group_next_disabled {
  padding: 15px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.playpause_track:hover,
.group_prev:hover,
.group_next:hover {
  opacity: 1;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -20px;
}

.seek_slider,
.groupVolumeSlider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.groupVolumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}



.seek_slider:hover,
.groupVolumeSlider:hover {
  cursor: pointer;
  opacity: 1;
}

.groupVolumeSlider {
  width: 50%;
}

.seek_slider {
  width: 60%;
}

.players_component {
  margin-top: 140px;
}

.play_back_metadata {
  align-items: center;
}

.group_volume {
  font-size: small;
  margin-right: 150px;
}