body {
  background-color: white;

  transition: background-color 0.5s;
}

.main_page {
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  height: 90%;
  box-sizing: border-box;
  top: 5%;
  left: 30%;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: left;
}
.main_page > * {
  display: block;
  width: 100%;
}

/*
*           group page
*/

.group_text {
  text-align: center;

  display: block;

  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;

  color: #000000;
  margin-top: 75px;
}

.info_Wrapper{
  position: relative;
  height: 10%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 100px;

}

.back_button {
  color: black;
}

i.fa-chevron-circle-left {
  cursor: pointer;
}

.group_text p {
  top: 42%;
  text-align: center;
  position: relative;
}

.group_det {
  height: 15%;
  display: block;
}
.group_ind {
  display: block;
  position: absolute;
  width: 50%;
  height: 10%;
  left: 25%;
  background: #d9d9d9;
  mix-blend-mode: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  opacity : 0.8;
  cursor:pointer;
}

.group_ind:hover {
  opacity: 1;
}


.selected_group_page {
  box-sizing: border-box;
  position: absolute;
  width: 40%;
  height: 90%;
  box-sizing: border-box;
  top: 5%;
  left: 30%;
  border: 1px solid #000000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: left;
  height: 1000px;
  border-bottom-style: none;
  align-items: center;
}
.selected_group_page > * {
  display: block;
  width: 100%;
}