/*
*           navBar page
*/

.logo_logout {
    border:none;
    height: 5%;
    width: 100%;
    display: table;
    border: 1px solid #000000;
  }
  
  .logo {
    float: left;
    height: 100%;
    width: 70%;
  }
  
  .logout {
    cursor:pointer;
    float: right;
    height: 80%;
    width: 25%;
    margin-top: 2.5%;
    margin-right: 2.5%;
  }

  .back_button {
    float: left left;
    color: #000000;
    width: 15%;
  }

  .render_page {
    align-items: center;
    margin-top: 400px;
    margin-left: 350px;
  }

  i.fa-chevron-circle-left {
    cursor: pointer;
  }